.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; /* Ensure all elements start at the same height */
  justify-content: center;
  gap: 24px;
  background-color: var(--background-enhance);
  border-radius: 16px;
  width: 80%;
  padding: 2rem 4rem;
  position: relative;
}

.inputs {
  display: none;
}

.inputs.show {
  display: flex;
  flex-direction: column;
}
